/*   */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    background-image: url(../images/p1bg.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    /* backdrop-filter: blur(5px); */

}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    backdrop-filter: blur(10px) sepia(30%);
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: dotted;
    border-radius: 10px;
    border-width: 1px;
    box-sizing: content-box;
    outline-offset: 10px;
    outline: 1px solid whitesmoke;

    border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 5;
    background-clip: content-box;


}

.heading-style {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 62px;
    color: white;
    text-shadow: 2px 2px 5px brown, -2px -2px 5px brown;
    width: 100%;
    text-align: center;
    text-decoration: wavy;
    background-image: url(../images/img5.png);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.p-background {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 63px;
    color: rgb(9, 9, 9);
    text-shadow: 2px 2px 5px blue, -2px -2px 5px white;
    width: 100%;
    text-align: center;
    z-index: -1;

    position: absolute;
}

.p-style {
    text-align: center;
    width: 80%;
    color: blue;
    font-size: 24px;
    font-weight: bolder;
    /* text-decoration: dotted; */
    padding: 20px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
}


.btn1 {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background: linear-gradient(45deg, blue, pink);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s ease, box-shadow 0.5s ease;
}

.btn1:hover {
    background-position: right;
    box-shadow: 0 4px 16px 0 rgba(234, 234, 209, 0.4);
    color: black;
}

.displayn{
    display: none;
}

.insideBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 0;
    outline: 0;
}