.m1mainBg {
    background-image: url(../images/mainPgBg.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    /* backdrop-filter: blur(10px); */
    /* -webkit-filter: blur(10px); */
}

.m1dommy {
    height: 15vh;
}

.m1heading-style {
    /* padding: 20px; */
    /* margin-top: 50px;
    margin-bottom: 50px; */
    font-size: calc(40px + 1vw);
    color: white;
    /* text-shadow: 2px 2px 5px brown, -2px -2px 5px brown; */
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: wavy;
    background-image: url(../images/img5.png);
    background-clip: text;
    color: transparent;
    /* text-shadow: none; */
    text-shadow: 5px 6px 1px rgba(96, 6, 17, 0.467);
}

.m1p-background {
    /* padding: 20px; */
    /* margin-top: 50px;
    margin-bottom: 50px; */
    font-size: calc(40px + 1vw);
    color: rgba(96, 6, 17, 0.467);
    text-shadow: 2px 2px 5px blue, -2px -2px 5px white;
    width: 100%;
    text-align: center;
    z-index: -1;

    position: absolute;
}

.m1p-style {
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    color: rgb(90, 4, 69);
    font-size: calc(1rem + 0.2vw);
    font-weight: bolder;
    /* text-decoration: dotted; */
    /* padding: 20px;
    margin-bottom: 50px; */
    text-shadow: 2px 2px 2px white, -2px -2px 5px white;

}



.m1btn1 {
    /* width: 100%; */
    height: 100px;
    border-radius: 20px;
    /* background: linear-gradient(45deg, #7289b3, pink); */
    background: linear-gradient(45deg, #424b6c, #590010);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s ease, box-shadow 0.5s ease;
}

.m1btn1:hover {
    background-position: right;
    box-shadow: 0 4px 16px 0 rgba(234, 234, 209, 0.4);
    color: rgb(237, 210, 137);
}

.m1displayn {
    display: none;
}

.m1insideBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 0;
    outline: 0;
}

.m1bgBlur {
    background-color: rgba(192, 192, 192, 0.436);
    mask-image: linear-gradient(transparent 0%, black 3%,black 97%, transparent 100% );

}

.m1h2 {
    font-size: calc(1rem + 0.6vw);
    color: rgba(96, 6, 17, 0.709);
    text-shadow: -1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, 1px 1px 1px black, ;

}
.m1_endnote{
   
    background-color: rgba(168, 128, 135, 0.707);
    background-color: #85a3ba;
    mask-image: linear-gradient(transparent 10%,black 50% 90%, transparent 100%);
    position: fixed;
    bottom: 0px;
}
.m1endtext{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* padding-top: ; */
    /* padding-top: 5px; */
}
.m1endtext p{
    width: 100%;
    font-family: serif;
    text-align: center;
    padding-top: 10px;
    font-size: calc(10px + 00.2vw);
    line-height: calc(10px + 0.2vw);
    color: rgb(21, 37, 49);
    backdrop-filter: blur(10px);
    /* mask-image: linear-gradient(black 50%, transparent 60%); */
}