
@import url(roseNikNavigation.css);

.bg1{
    background-image: url(../image/watercolor-paint-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.margin2left {
    margin-top: 10px;
}

.borderNone {
    border: 0 !important;
}

/* 0000000000000000000000000000000000 text and paragraphs */

.aboutUsText {
    /* height: 100vh; */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.608);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-justify: newspaper;

}

.aboutUsText h3 {
    width: 100%;
    line-height: 150px;
    font-size: calc(20px + 1vw);
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0), -1px -1px 5px black;
    direction: rtl;
    text-align: center;
}

.aboutUsText p {
    width: 65%;
    line-height: calc(10px +1vw);
    font-size: calc(10px + 0.5vw);
    font-family: sans-serif;
    color: rgb(35, 35, 35);
    text-shadow: 1px 1px 5px rgb(255, 255, 255), -1px -1px 5px white;
    direction: rtl;
    text-align: justify;
}

.pAboutUs {
    direction: ltr !important;
}

hr {
    width: 70%;
    height: 5px;
    background-color: pink;
    color: blue;
}