.navBarHome {
    background: repeating-linear-gradient(45deg, rgba(79, 79, 79, 0.474) 5%, rgba(0, 128, 0, 0.497) 10%, rgba(0, 128, 0, 0.497) 15%, rgba(79, 79, 79, 0.474) 20%);
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(34, 34, 34);
    mask-image: linear-gradient(0deg,rgba(0, 0, 0, 0) 0% 5%, black 20% 100%);
}

.navBarHome ul {
    list-style-type: none;
    display: flex;
    flex-direction: start;
    margin-left: 16px;
}

.navBarHome ul li {
    list-style-type: none;
    padding: 15px;
    font-weight: bold;
    /* font-size: 18px; */
    /* font-size: calc(0.5rem + 0.1vw); */
    line-height: 15px;
    /* line-height: calc(2rem + 2vw); */
    border-right: 3px solid rgb(255, 63, 95);
}

.navBarHome ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-size: 18px; */
    font-size: calc(0.5rem + 0.7vw);
    font-family: sans-serif;
}

.margin2left {
    margin-top: 10px;
}

.borderNone {
    border: 0 !important;
}

.navminiBgInside {
    background: repeating-linear-gradient(135deg, rgba(79, 79, 79, 0.474) 5%, rgba(0, 128, 0, 0.497) 10%, rgba(0, 128, 0, 0.497) 15%, rgba(79, 79, 79, 0.474) 20%);
    color: aliceblue;
}

.navminiBgInside a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px rgb(54, 54, 54);
    font-size: calc(12px + 1vw);
}

.navminiBgInside a:hover {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px green, 1px -1px 1px green, -1px -1px 1px green, -1px 1px 1px green;
    padding: 10px;
    text-decoration: dashed underline overline 1px;
    text-decoration-color: rgb(3, 53, 53);
}

.navminiBg {
    background: repeating-linear-gradient(45deg, rgba(79, 79, 79, 0.474) 5%, rgba(0, 128, 0, 0.497) 10%, rgba(0, 128, 0, 0.497) 15%, rgba(79, 79, 79, 0.474) 20%);
}

.miniNavBarTitle {
    font-size: calc(12px + 1vw);
    color: whitesmoke;
    font-weight: bold;
}

.navminiIcon {
    display: inline-block;
    vertical-align: middle;
    /* vertical-align: bottom; */
}

.titlePref {
    cursor: default;
    text-decoration: none !important;
    font-weight: bold;

}

.galleryFooter {
    filter: opacity(0.8);
    font-size: calc(10px + 0.5vw);
    color: rgb(255, 250, 205);
    text-shadow: 1px 1px 3px rgba(153, 233, 243, 0.5), 1px -1px 3px rgb(153, 233, 243, 0.5), -1px -1px 3px rgb(153, 233, 243, 0.5), -1px 1px 3px rgb(153, 233, 243, 0.5);
    background-image: linear-gradient(rgba(192, 192, 192, 0), rgb(14, 30, 3), rgba(192, 192, 192, 0));
    font-family: 'Times New Roman', Times, serif;
    transition: all 250ms linear 0s;
    user-select: none;
}

.galleryFooter p {
    height: calc(10px + 2vw);
}

.galleryFooterPosition {
    position: fixed;
    bottom: 1vh;
    /* bottom: 15px; */
}

.galleryFooter span {
    transition: all 250ms linear 0s;
}

/* .galleryFooterPosition:hover .galleryFooter span{
    filter: opacity(1);
    color: rgb(237, 237, 255);
    text-shadow: 1px 1px 3px rgba(7, 65, 73, 0.834), 1px -1px 3px rgba(7, 65, 73, 0.834), -1px -1px 3px rgba(7, 65, 73, 0.834), -1px 1px 3px rgba(7, 65, 73, 0.834);
    font-size: larger;
} */