.p3padding0 {
    padding: 0;
    /* background-color: aqua; */
}

.p3mainSliderBox {
    white-space: nowrap;
    overflow: hidden;
    
}


.p3part3Link,
.p3part3LinkMini {
    width: 100%;
    
    text-decoration: none;
    position: relative;
    transition: all 250ms ease 0s;
    
}

.p3part3Link img,
.p3part3LinkMini img{
    display: inline-block;
    width: 100%;
    transition: all 300ms ease 0s;
}

.p3right,
.p3left {
    position: absolute;
    z-index: 3;
    top: 50%;
    height: 70px;
    margin-top: -35px;
    width: 40px;
    background-color: rgba(240, 248, 255, 0.373);
    color: rgba(255, 255, 255, 0.615);
    text-shadow: 0 0 5px black;
    line-height: 70px;
    font-size: 25px;
    /* padding: 10px; */
    font-weight: bold;
    text-align: center;
    transition: all 100ms ease 0s;
    cursor: pointer;
}

.p3right {
    right: 0px;
    border-radius: 5px 0 0 5px;
}

.p3left {
    left: 0px;
    border-radius: 0 5px 5px 0;
}

.p3left:hover,
.p3right:hover {
    background-color: rgba(240, 248, 255, 0.616);
    color: rgba(255, 255, 255, 0.895);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-size: 35px;
}

